section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #525252;
  text-align: center;
  color: white;
  padding: 3em 0 3em 0;
}


section > p {
  margin-bottom: 4em;
}

features-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

features-row > p {
  margin: 0 2em 0 2em;
}
